@page
@model KhanehNoh.Endpoints.RazorPages.Areas.Admin.Pages.HomeServices.IndexModel
@{
}
@{
    ViewData["Title"] = " مدیریت هوم سرویس ها";
}

<section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="col-6 text-right">
            <a asp-page="/HomeServices/Create" class="btn btn-info">
                افزودن هوم سرویس جدید
                <i class="fas fa-plus fa-sm"></i>
                </a>
        </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                  <th>عنوان</th>    
                  <th>قیمت پایه</th>
                  <th>زیردسته بندی</th>
                  <th>عملیات</th>                 
                </tr>
                </thead>
                <tbody>
        @foreach (var item in Model.HomeServices)
        {
           <tr>
               <td>@item.Id</td>
               <td>@item.Title</td>
              <td>@item.BasePrice</td>
              <td>
                  @if(item.SubCategory != null)
                    {
                        @item.SubCategory.Title
                    }
                    else
                    {
                        <span class= "text-danger">زیردسته بندی نامشخص</span>

                    }</td>
                <td>
            <div class="btn-group" role="group">
                <a class="btn btn-primary text-white" asp-page="Edit" asp-route-Id="@item.Id">
                    <i class="fas fa-edit fa-sm"></i>
                </a>

                <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id">
                <button type="submit" class="btn btn-danger text-white" onclick="return confirm('آیا از حذف این هوم سرویس مطمئن هستید؟')"> 
                    <i class="fas fa-trash fa-sm"></i>
                </button>
                </form>
            </div>
        </td>
           </tr> 

        }
  </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->         
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>