@page
@using KhanehNoh.Domain.Core
@model KhanehNoh.Endpoints.RazorPages.Areas.Admin.Pages.Requests.IndexModel
@{
    ViewData["Title"] = " مدیریت درخواست ها";
}

<section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="col-6 text-right">
            
        </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                  <th>عنوان</th>
                  <th>توضیحات</th>
                  <th>زمان درخواست</th>
                  <th>تاریخ شروع</th>
                  <th>تاریخ پایان</th>
                  <th> وضعیت</th>
                  <th>عملیات</th>                 
                </tr>
                </thead>
                <tbody>
        @foreach (var item in Model.Requests)
        {
           <tr>
               <td>@item.Id</td>
               <td>@item.Title</td>
               <td>@item.Description</td>
               <td>@item.RegisterDate</td>
               <td>@item.StartTime</td>
               <td>@item.EndTime</td>
              <td>@item.RequestStatus</td>
                <td>
            <form method="post" asp-page-handler="ChangeStatus" asp-route-requestid="@item.Id">
                <select name="status" class="form-control">
                    @foreach (var status in Enum.GetValues(typeof(OrderStatusEnum)))
                   {
                       <option value="@status">@status</option>
                   }
                </select>
                <button type="submit" class="btn btn-primary mt-2">تغییر وضعیت</button>
            </form>
                </td>
           </tr> 

        }
  </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->         
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
