@page
@model KhanehNoh.Endpoints.RazorPages.Areas.Admin.Pages.RatingListModel
@{
    ViewData["Title"] = " مدیریت نظرات";
}

<section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="col-6 text-right">
            
        </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>امتیاز</th>
                    <th>کامنت</th>
                  <th>وضعیت</th>
                  <th>عملیات</th>
                                
                </tr>
                </thead>
                <tbody>
        @foreach (var item in Model.Ratings)
        {
           <tr>
               <td>@item.Id</td>
               <td>@item.Rate</td>
               <td>@item.Comment</td>            
               <td>
                   @if(item.Status){
                       <span class="badge bg-success">تایید شده</span>
                   }
                   else{
                       <span class="badge bg-danger">رد شده</span>
                   }
               </td>
               <td>
                   

                   <form method="post" asp-route-handler="Approve" asp-route-ratingId="@item.Id" class="d-inline">
                       <button type="submit" class="btn btn-success btn-sm">تایید</button>
                   </form>

                   <form method="post" asp-route-handler="Reject" asp-route-ratingId="@item.Id" class="d-inline">
                       <button type="submit" class="btn btn-danger btn-sm">رد</button>
                   </form>

               </td>
                          

               
           </tr> 

        }
  </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->         
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
