@page
@model KhanehNoh.Endpoints.RazorPages.Areas.Admin.Pages.SubCategoryListModel
@{
    ViewData["Title"] = " مدیریت زیردسته بندی ها";
}

<section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="col-6 text-right">
            <a asp-page="/SubCategory_Create" class="btn btn-info">
                افزودن زیردسته بندی جدید
                <i class="fas fa-plus fa-sm"></i>
                </a>
        </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>عنوان</th>
                  <th>دسته بندی</th>
                  <th>تعداد هوم سرویس ها</th>
                  <th>عملیات</th>                 
                </tr>
                </thead>
                <tbody>
        @foreach (var item in Model.SubCategories)
        {
           <tr>
               <td>@item.Title</td>
               <td>
                    @if(item.Category != null)
                    {
                        @item.Category.Title
                    }
                    else
                    {
                        <span class= "text-danger">دسته بندی نامشخص</span>

                    }
                </td>
                <td>@item.HomeServices?.Count</td>
                <td>
            <div class="btn-group" role="group">
                <a class="btn btn-primary text-white" asp-page="SubCategory_Edit" asp-route-Id="@item.Id">
                    <i class="fas fa-edit fa-sm"></i>
                </a>

              
                <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id">
                <button type="submit" class="btn btn-danger text-white"onclick="return confirm('آیا از حذف این زیردسته بندی مطمئن هستید؟')"> 
                    <i class="fas fa-trash fa-sm"></i>
                </button>
                </form>
            </div>
        </td>
           </tr> 

        }
  </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->         
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
